<div class="container">
    <div ng-include = "'./View/header.view.html'"></div>
</div>
<div class="starter_container bg">
    <div class="follow_container" id="home">
      <div class="follow_container" ng-controller="homeCtrl">
          <div class="col-md-6 col-md-offset-3">
              <h2 class="top-title"> Crowdsourcing</h2>
              <h2 class="white second-title">" La créativité, l'intelligence et le savoir-faire "</h2>
              <hr>
              <button type="button" class="btn btn-default btn-lg btn-block" ng-click="showModalForm()">Open me!</button>
          </div>
      </div>
  </div>
</div>