<!--- formTemplate.html -->

<div ng-controller="modalController">
	<div id="formModal{{index}}">
		<div class="modal-header">
		  <h3 class="modal-title" id="modal-title">Crowsourcing</h3>
		</div>
		<form ng-submit="addText(form)">
		<div class="modal-body" id="modal-body">
			<table class="table" id="table">
			  	
			  		<thead>
			  			<tr class="active">
			  				<th>Num Pair</th>
			  				<th>1ère pair</th>
			  				<th>2ème pair</th>
			  			</tr>
			  		</thead>
				    <tbody>
				      <tr ng-repeat="rest in dataRestaurants" ng-class="{'selected': rest.selected}" ng-click="select(rest)">
				      	<td ng-bind="rest.id"></td>
				        <td ng-bind="rest.elem1"></td>
				        <td ng-bind="rest.elem2"></td>
				      </tr>
				    </tbody>
			    
		  	</table>
		</div>

		<div class="modal-footer">
			<div class="form-inline row">
				<div class="form-group col-md-4">
				    <label for="labelCheckbox">Y a t'il des jeux similaires ?</label>
			        <label for="chkPassport">
			            <input id="chkPassport" type="checkbox" ng-model="IsPair"  ng-click="isDontPair()"/>
			        </label>
		        </div>
		        <div class="form-group col-md-4"></div>
		        <div class="form-group col-md-4" tooltip-placement="{{placement.selected}}" uib-tooltip="Merci de mettre un indice compris entre 0,0 et 1,0 sachant que 1,0 est un indice fort de confiance." tooltip-class="customClass">
				    <label for="exampleInputName2">Indice de confiance</label>
				    <slider ng-model="sliders.sliderValue" min="formRange.min" step="formRange.step" max="formRange.max" value="formRange.value" id="exampleInputName2"></slider>
				</div>
			</div>
			</br>
			<div class="row">
				<div class="col-md-4">
					<button class="btn btn-success" type="button" ng-click="next()">Skip</button>
				</div>
				<div class="col-md-4"></div>
				<div class="col-md-4">
			  		<input class="btn btn-primary" type="submit" ng-click="yes()" value="Valider" />
			  		<button class="btn btn-danger" type="button" ng-click="no()">Cancel</button>
			  	</div>
		  	</div>
		</div>
		</form>
	</div>
</div>