<!--- formTemplate.html -->
<script type="text/ng-template" id="View/formModal.html">
	<div id="formModal{{index}}">
		<div class="modal-header">
		  <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
		</div>
		<div class="modal-body" id="modal-body">
		  <table class="table">
		    <thead>
		      <tr class="active">
		        <td> Nom Restaurant </td>
		        <td> adresse Restaurant </td>
		        <td> Telephone Restaurant </td>
		        <td> Type Restaurant </td>
		      </tr>
		    </thead>

		    <tbody>
		      <tr ng-repeat="rest in dataRestaurants | orderBy:'name' | limitTo:2">
		        <td>{{rest.name}}</td>
		        <td>{{rest.adresse}}</td>
		        <td>{{rest.telephone}}</td>
		        <td>{{rest.type}}</td>
		      </tr>
		    </tbody>
		  </table>
		</div>
		<div class="modal-footer">
		  <button class="btn btn-primary" type="button" ng-click="yes()">OK</button>
		  <button class="btn btn-warning" type="button" ng-click="no()">Cancel</button>
		</div>

	</div>
</script>