<div class="container">
	<div ng-include = "'View/header.view.html'"></div>
</div>
<div class="starter_container bg" ng-controller="loginCtrl">
    <div class="follow_container">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="top-title"> Restaurant</h2>
            <h2 class="white second-title">" Best in the city "</h2>
            <hr>
            <div>
				<form name="loginform" id="loginForm" ng-submit="loginform.$valid && user.login()" novalidate role="form" class="form-inline">
					<div class="form-group" ng-class="{ 'has-error': loginform.$submitted && loginform.username.$invalid}">
				        <label for="username">Login</label>
				        <input type="text" name="username" id="username" class="form-control" ng-model="user.username" required />
				        <div ng-messages="loginform.$submitted && loginform.username.$error" class="help-block">
			                <div ng-message="required">Username is required</div>
			            </div>
				    </div>
					&nbsp;
					<div class="form-group" ng-class="{ 'has-error': loginform.$submitted && loginform.password.$invalid }">
			            <label for="password">Mot de passe</label>
			            <input type="password" name="password" id="password" class="form-control" ng-model="user.password" required />
			            <div ng-messages="loginform.$submitted && loginform.password.$error" class="help-block">
			                <div ng-message="required">Mot de passe is required</div>
			            </div>
			        </div>
			        <div class="form-group">
						<button type="button" ng-disabled="loginform.loading" class="btn btn-primary" ng-click="submit()">
						Connexion</button>
					</div>
					<div ng-if="user.error" class="alert alert-danger">{{user.error}}</div>
				</form>
			</div>
        </div>
    </div>
</div>