<div class="container">
	<div ng-include = "'View/header.view.html'"></div>
</div>
<div class="starter_container bg" ng-controller="loginCtrl">
    <div class="follow_container">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="top-title"> Restaurant</h2>
            <h2 class="white second-title">" Best in the city "</h2>
            <hr>
            <div>
				<form name="loginform" id="loginForm" ng-submit="vm.login()" role="form" class="form-inline">
					<div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
				        <label for="username">Login</label>
				        <input type="text" name="username" id="username" class="form-control" ng-model="user.username" required />
				        <span class="error" ng-show=" (loginform.username.$dirty || submitted) && loginform.username.$error.required">Login requis</span>
				    </div>
					&nbsp;
					<div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
			            <label for="password">Mot de passe</label>
			            <input type="password" name="password" id="password" class="form-control" ng-model="user.password" ng-class="submitted?'ng-dirty':''" required />
			            <span class="error" ng-show=" (loginform.Password.$dirty || submitted) && loginform.password.$error.required">Mot de passe requis</span>
			        </div>
					<button type="button" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary" ng-click="submit()">Connexion</button>
				</form>
			</div>
        </div>
    </div>
</div>