p {
	color: #e5e5e5;
}

h3 {
	color: white;
}

div#adminCtrl.follow_container, div#addUser.follow_container{
	top: -10%;
}

.starter_container {
	background-color: #111037ff;
};

.pairActive {
  background-color: #E8D76E;
}

.tooltip.customClass .tooltip-inner {
  color: white;
  background-color: #928f8a;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.follow_container .btn-default {
	background-color: #1E1E1E;
	color: #e7e7e7;
}

#formModal .modal-header {
	font-family: 'Pacifico', cursive;
	color: white;
	background-color: #1E1E1E;
}

#formModal .modal-footer {
	background-color: #d2d2d2;
	color: black;
}

.modal-footer p{
	color: black;
}

#loginView label {
	color: white;
}

#registerForm label {
	color: white;
}

#loginForm label {
	color: white;
}

#echelleSlider .slider-selection {
	background: #BABABA;
}

td.selected {
  background: #b7c6cc!important;
}



#Tabs {
	color: white;
}

#Tabs a{
	color: #d2d2d2;
}



/* Page home */
#home.follow_container{
	padding-top: 15%;
}

/* Page inscription */
div#signup.follow_container {
	top: 20%;
}
#signup form#inscriptionForm{
	width: 50%;
	margin-left: 30%;
}
#signup label {
	color: white;
}

/* Page connexion */
#Signin div.follow_container {
	top: 25%;
}
#Signin form{
	width: 50%;
	margin-left: 25%;
}

/* Page admin.view */
#admin {
	height: 100%;
	background-color: black;
	padding-top: 0%;
	padding: 5%;
}
#admin #usersTable{
	background-color: black;
	color :white;
}

/* Page AddUser.view */
#addUser {
	height: 100%;
	background-color: black;
	padding-top: 0%;
	padding: 5%;
}

#addUser.follow_container{
	padding-top: 15%;
}

#addUser label {
	color: white;
}
